@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-flow .react-flow__handle-left {
  content: '';
  background:url('https://img.icons8.com/ios-glyphs/512/macos-maximize.png');
  
  background-size:cover;
      position:absolute;
  width:20px;
  height:20px;
  left:-9px;
  
}

.react-flow__node-custom.selected {
  border: 2px solid #1e3a8a;
  border-radius: 5px;

}

.wrapper {
  flex-grow: 1;
  height: 100%;
}



